.reservas-container{

    padding:30px;

}

h1{

    margin-bottom:20px;

}

table{

    width:100%;
    border-collapse:collapse;
    background:white;

}

th{

    background:#155bc9;
    color:white;
    padding:12px;

}

td{

    padding:12px;
    border:1px solid #ddd;
    text-align:center;

}

button{

    background:#155bc9;
    color:white;
    border:none;
    padding:8px 16px;
    border-radius:6px;
    cursor:pointer;

}

button:hover{

    background:#073e9f;

}

.mensaje{

    margin-bottom:20px;
    font-weight:bold;
    color:#155bc9;

}

.paradero-select{
    width:100%;
    padding:10px 12px;
    border:1px solid #d1d5db;
    border-radius:8px;
    background:white;
    font-size:14px;
    cursor:pointer;
    transition:0.3s;
}

.paradero-select:hover{
    border-color:#2563eb;
}

.paradero-select:focus{
    outline:none;
    border-color:#2563eb;
    box-shadow:0 0 8px rgba(37,99,235,0.3);
}
